/* Meu arquivo CSS */

h1 {
	color: red;
	font-size: 2em;
	font-style: italic;
	padding-bottom: 0px;
	border: 6px dotted #2700ff; 
	background-color: #63fd51;
	text-align: center;
}

body {
	font-size: 2em;
	background-color: cyan;
	color: black;
	font-family: 'Permanent Marker', cursive;
}

ul{
	padding-right: 50px;
	list-style-position: inside; 
	text-align: right;
}

li{
	font-size:0.75em;
}
	
a:link {
	text-decoration: none;
	color: greenyellow;
}

a:visited {
	text-decoration: none;
	color: green;
}

a:hover {
	text-decoration: underline;
	color: black;
}

a:active {
	text-decoration: underline;
	color: red;
}
